.container {
  @apply flex flex-col items-center py-16;
}

.form {
  @apply flex w-72 flex-col gap-4
  md:w-[436px] md:gap-5;
}

.title {
  @apply text-xl
  md:text-2xl;
}

.input_container {
  @apply relative flex flex-col items-start;
}

.input {
  @apply w-[272px] rounded-lg border-none bg-zinc-200 px-2 py-3 text-sm
  md:w-[420px] md:text-lg;
}

.input_label {
  @apply mb-1 text-[12px] text-zinc-500
    md:mb-2 md:text-sm;
}

.error_message {
  @apply absolute -left-1 top-14 px-1.5 py-2.5 text-[10px] 
  md:top-[70px];
}

.button {
  @apply mt-10 flex w-full transform cursor-pointer items-center justify-center rounded-sm border-none
  bg-black text-white transition-transform duration-300 hover:scale-125 hover:bg-opacity-80
  md:p-4;
}

.link_container {
  @apply flex w-full items-center justify-center text-sm;
}

.link_question {
  @apply mr-3 text-zinc-600;
}

.link_item {
  @apply cursor-pointer text-blue-700 hover:text-blue-900;
}
