.parent {
  @apply animate-fade fixed inset-0 flex h-full w-full cursor-pointer 
   items-center justify-center bg-black bg-opacity-30;
}

.container {
  @apply h-screen/80 relative grid w-[300px] content-start overflow-auto rounded-lg bg-white p-5
  md:w-[700px] md:p-10;
}

.section_top {
  @apply mb-6 flex w-full justify-end
  md:mb-12;
}

.icons_list {
  @apply grid grid-cols-3 gap-3 text-xl text-gray-600
  md:gap-6 md:text-2xl;
}

.icon {
  @apply cursor-pointer hover:font-bold hover:text-blue-600;
}

.title {
  @apply mb-2 text-xl font-semibold
  md:mb-6 md:text-4xl;
}

.priority {
  @apply mb-3 flex items-center text-sm font-medium uppercase text-red-700
  md:mb-4 md:text-xl;
}

.priority_point {
  @apply text-4xl;
}

.info {
  @apply mb-10 mt-6 grid grid-cols-2 items-end gap-y-4
  md:mb-16 md:w-96 md:gap-y-5;
}

.info_field {
  @apply text-[12px] uppercase text-gray-500
  md:text-lg;
}

.info_date {
  @apply font-medium
  md:text-xl;
}

.info_category {
  @apply font-medium text-blue-800
  md:text-xl;
}

.info_stutus {
  @apply w-24 rounded-full bg-red-700 text-center font-medium text-white
  md:w-32 md:text-xl;
}

.description {
  @apply my-2
  md:my-3 md:text-2xl;
}
