.container {
  @apply mx-auto flex w-80 flex-col items-center py-16
  md:w-[520px];
}

.title {
  @apply md:mb-6 md:text-4xl;
}

.fields {
  @apply mx-auto mt-8 grid w-full grid-cols-1 gap-8
  md:mt-14;
}

.field {
  @apply flex w-full justify-between border-b border-zinc-400 pb-2
  md:text-2xl;
}

.field_name {
  @apply font-medium;
}

.link_edit {
  @apply text-accent hover:text-accentDark mt-10 mb-4 w-full cursor-pointer text-center text-sm
  md:mt-20 md:text-2xl;
}
